body {
    padding-top:5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0;
  width:100%;
  left:0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.images {
    width:100px;
    height:100px;
}

#column1 {
  float: left;
  width: 25%;
}

#column2 {
  float: left;
  width: 75%;
  justify-content: space-between;
}

/* Clear floats after the columns */
#row:after {
  content: "";
  display: table;
  clear: both;
}

#num {
    margin-top:auto;
    margin-right:50%;
    margin-left: 50%;
}

#imgBod {
    display: flex;
    justify-content: space-between;
    margin-right:20%;
    margin-left:5%;
}

.imgRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom:5%;
}