#head {
    background:white;
}

.images {
    margin-bottom: 30px;
    margin-left:40px;
    width:100px;
    height:100px;
}

#row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background:grey;
  height:90%;
  width:50%;
  margin:auto;
}

#num {
    margin-top:auto;
    margin-right:50%;
    margin-left: 50%;
}