#head {
    background:#6663B8;
}

.images {
    width:100px;
    height:100px;
}

#row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background:grey;
  height:90%;
  width:50%;
  margin:auto;
}

#num {
    margin-top:auto;
    margin-right:50%;
    margin-left: 50%;
}

#imgBod {
    display: flex;
    justify-content: space-between;
    margin-right:20%;
    margin-left:5%;
}

#tags {
    display: flex;
    flex-direction: column;
}